* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a, a:visited {
    color: rgb(130, 124, 150); /* gray */
}

a:focus, a:hover {
    color: rgb(96, 150, 248); /* light blue */
}

blockquote {
    font-style: italic;
    line-height: 1.2em;
    margin: 0;
}

body {
    color: rgb(7, 11, 14); /* black */
    font-size: 12px;
    line-height: 1.5em;
}

body, .pure-g [class*=pure-u] {
    font-family: 'Montserrat', sans-serif !important;
}

.content {
    padding: 1em 1em 3em;
}

.content-background {
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
    margin: 0;
    max-width: none;
    padding: 150px 0 120px 0;
    width: 100%;
}

.content-background h2, .content-background li, .content-background p {
    color: rgb(243, 250, 255); /* white */
}

.content-background .l-box {
    padding: 1em;
}

.content-background ul {
    float: left;
    width: 50%;
}

.content-background1 {
    background: transparent url("../images/body1.jpg") no-repeat center center fixed;
}

.content-background2 {
    background: transparent url("../images/CMc2.jpg") no-repeat center center fixed;
}

.content-head {
    font-weight: 400;
    letter-spacing: 0.1em;
    margin: 2em 0 1em;
    text-transform: uppercase;
}

.content-head-ribbon {
    color: rgb(96, 150, 248); /* light blue */
}

.content-wrapper {
    background: rgb(243, 250, 255); /* white */
    min-height: 12%;
    position: absolute;
    width: 100%;
    z-index: 2;
}

.custom-toggle {
    display: none;
    height: 34px;
    position: absolute;
    right: 0;
    top: 0;
    width: 34px;
}

.custom-toggle .bar {
    background-color: rgb(130, 124, 150); /* gray */
    border-radius: 100px;
    display: block;
    height: 2px;
    position: absolute;
    right: 7px;
    top: 18px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
    width: 20px;
}

.custom-toggle .bar:first-child {
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px);
}

.custom-toggle.x .bar {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.custom-toggle.x .bar:first-child {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.custom-wrapper {
    background: rgb(7, 11, 14); /* black */
    border-bottom: none;
    box-shadow: 0 1px 1px rgba(7, 11, 14, 0.10); /* black */
    height: 63px;
    overflow: hidden;
    padding: 0.5em;
    position: fixed;
    -webkit-transition: height 0.5s;
    -moz-transition: height 0.5s;
    -ms-transition: height 0.5s;
    transition: height 0.5s;
    -webkit-font-smoothing: antialiased;
    width: 100%;
    z-index: 4;
}

.custom-wrapper.open {
    height: 26em;
}

.email, .fa-envelope, .fa-file, .fa-github-square, .fa-linkedin-square, .file, .github, .linkedin {
    display: block;
    float: left;
    font-size: 3em;
    text-align: center;
    text-decoration: none;
    width: 25%;
}

.email, .file, .github, .linkedin {
    font-size: 1em;
    margin-top: 1em;
}

.email:focus, .email:hover, .file:focus, .file:hover, .github:focus, .github:hover, .linkedin:focus, .linkedin:hover {
    color: rgb(130, 124, 150); /* gray */
}

.email, .email:visited, .fa-envelope { 
    color: rgb(13, 20, 76); /* dark blue */
}

.example {
    border-radius: 5%;
    margin: 0 auto;
    max-width: 300px;
    overflow: hidden;
    position: relative;
}

.example:hover .example-middle, .example:focus .example-middle {
    opacity: 1;
}

.example:hover img, .example:focus img {
    -webkit-filter: invert(100%);
    filter: invert(100%);
    opacity: 0.3;
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.example img {
    backface-visibility: hidden;
    max-width: 100%;
    opacity: 1;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.example-middle {
    left: 50%;
    opacity: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    width: 100%;
}

.example-text {
    background-color: rgba(7, 11, 14, 0.5); /* black */
    border: 0.1em solid rgb(243, 250, 255); /* white */
    border-radius: 1em;
    color: rgb(243, 250, 255); /* white */
    font-size: 1em;
    padding: 1em 2em;
    width: 100%;
}

.fa-file, .file, .file:visited { 
    color: rgb(139, 30, 164); /* light purple */
}

.fa-github-square, .github, .github:visited { 
    color: rgb(96, 150, 248); /* light blue */
}

.fa-linkedin-square, .linkedin, .linkedin:visited { 
    color: rgb(79, 34, 157); /* dark purple */
}

.fa-quote-left, .fa-quote-right { 
    font-size: 1em; 
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
    color: rgb(139, 30, 164); /* light purple */
    line-height: 1.5em;
}

img {
    border-radius: 5%;
}

.is-center {
    text-align: center;
}

.l-box {
    padding: 1em;
}

.l-box-lrg {
    border-bottom: 1px solid rgba(7, 11, 14, 0.1); /* black */
    padding: 2em;
}

.pure-img-responsive {
    height: auto;
    max-width: 100%;
}

.pure-menu-heading {
    padding: 0;
}
.pure-menu-link {
    font-size: 1em;
    padding: 0.7em;
}

.pure-menu-link, .pure-menu-link:visited {
    color: rgb(96, 150, 248); /* light blue */
}

.pure-menu-link:focus, .pure-menu-link:hover {
    background: none;
    border: none;
    color: rgb(139, 30, 164); /* light purple */
}

.ribbon {
    background: rgb(13, 20, 76); /* dark blue */
    color: rgb(243, 250, 255); /* white */
}

.ribbon a, .ribbon a:visited {
    color: rgb(96, 150, 248); /* light blue */
    text-decoration: none;
}

.ribbon a:focus, .ribbon a:hover {
    color: rgb(130, 124, 150); /* gray */
    text-decoration: none;
}

.splash {
    bottom: 0;
    height: 50%;
    left: 0;  
    margin: auto;
    position: absolute;
    right: 0;
    text-align: center;
    top: 100px; 
    width: 80%;
}

.splash-container {
    background: url("../images/head.jpg") no-repeat center center fixed;
    background-position: center 0px;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.splash-head {
    color: rgb(243, 250, 255); /* white */
    font-size: 3em;
    font-weight: bold;
    padding: 1em 1.6em;
}

.splash-subhead {
    color: rgb(243, 250, 255); /* white */
    font-size: 1.5em;
    letter-spacing: 0.05em;
}

@media (max-width: 47.999em) {
  .custom-toggle {
      display: block;
  }      
}

@media (min-width: 48em) {
    body {
        font-size: 14px;
    }
    .content-background .l-box {
        padding: 1em 20%;
    }
    .l-box-lrg {
        border: none;
    }
}

@media screen and (min-width: 64em) {
    body {
        font-size: 16px;
    }
}

@media (min-width: 80em) {
    body {
        font-size: 18px;
    }
}
